footer {
	margin-top: 50px;
	border-top: 1px solid #CCC;
}

.i343-copy-notice {
	font-style: italic;
}

.i343-footer-logo {
	background-image: url(../img/ischool-logo-small.png);
	background-position: right center;
	background-repeat: no-repeat;
	background-origin: content-box;
	min-height: 40px;
}
