@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic);

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
}
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Open Sans", Impact, sans-serif;
  font-weight: 600;
  text-transform: none;
}

.reveal table {
	width: 100%;
	border-collapse: collapse;
}
.reveal table th {
	border-bottom: 1px solid;
	line-height: 1.5;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.two-column > div,
.two-column > figure,
.two-column > ul,
.two-column > ol,
.two-column > img,
.two-column > p {
	width: 40%;
	display: inline-block;
}
.three-column > div,
.three-column > figure,
.three-column > ul,
.three-column > ol,
.three-column > img,
.three-column > p {
	width: 30%;
	display: inline-block;
}
ul.no-bullets {
	list-style: none;
}
ul.no-bullets ul {
	list-style: none;
}
.term {
	color: #AECAF2;
}