ul.slides, 
ul.examples,
ul.labs,
ul.homework,
ul.resources {
	list-style: none;
}

ul.slides li,
ul.examples li,
ul.labs li,
ul.homework li,
ul.resources li {
	padding-left: 40px;
	padding-bottom: 5px;
	padding-top: 5px;
	margin: 3px 0;
	font-size: 18px;
	min-height: 32px
}

ul.slides li,
ul.slides li.slides {
	background: url(../img/bullet-slides.png) no-repeat left center;
}

ul.slides li.notes {
	background: url(../img/bullet-notes.png) no-repeat left center;
}

ul.examples li {
	background: url(../img/bullet-example.png) no-repeat left center;
}

ul.labs li {
	background: url(../img/bullet-lab.png) no-repeat left center;
}

ul.homework li {
	background: url(../img/bullet-homework.png) no-repeat left center;
}

ul.resources li {
	background: url(../img/bullet-resources.png) no-repeat left center;
}