.lab li {
	padding-bottom: .5em;
}

.lab-title {
	background-image: url(../../img/lab.png);
	background-repeat: no-repeat;
	padding-left: 80px;
	min-height: 72px;
}

.double-black-diamond {
	background-image: url(../img/dbd.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 80px;
	min-height: 90px;
}
.token {
	font-style: italic;
	background-color: #FFFF00;
}
figure figcaption {
	font-style: italic;
	font-size: 125%;
}
.screen-shot {
	border: 1px dotted #CCC;
	padding: 10px;
}

video.responsive {
	width: 100%;
}
