.notes-header {
	background-image: url(../../img/notes.png);
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 80px;
	min-height: 32px;
}

.lecture-outline {
	list-style: upper-roman;
	font-size: 150%;
	line-height: 1.5em;
}

.lecture-outline > li > ol {
	list-style: decimal;
}

.lecture-outline > li > ol > li > ol {
	list-style: lower-alpha;
}

.token {
	font-style: italic;
	background-color: #FFFF40;
}

dfn {
	color: #DA6229;
	font-style: normal;
}