.reveal h1 {
	padding-bottom: 10px;
}
.reveal table {
	width: 100%;
	border-collapse: collapse;
}
.reveal table th {
	border-bottom: 1px solid;
	line-height: 1.5;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.overlay {
	background-color: rgba(255,255,255,0.8);
}
.two-column > div,
.two-column > figure,
.two-column > ul,
.two-column > ol,
.two-column > img,
.two-column > pre,
.two-column > p {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}
.three-column > div,
.three-column > figure,
.three-column > ul,
.three-column > ol,
.three-column > img,
.three-column > pre,
.three-column > p {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}
ul.no-bullets {
	list-style: none;
}
ul.no-bullets ul {
	list-style: none;
}
.term, dfn {
	color: #DB8002;
	font-style: normal;
}
ul.file-tree,
ul.file-tree ul,
ul.file-tree-description,
ul.file-tree-description ul {
	list-style: none;
}
ul.file-tree li {
	padding-left: 40px;
	background-position: left center;
	background-repeat: no-repeat;
}
ul.file-tree li.file {
	background-image: url(../../img/file.png);
}
ul.file-tree li.folder {
	background-image: url(../../img/folder.png);
}
ul.file-tree li.folder-open {
	background-image: url(../../img/folder-open.png);
	background-position: 0 0.3em;
}
ul.file-tree-description li {
	font-style: italic;
}

ul.element-tree li {
	list-style: disc;
}

.reveal section .pic-quote img {
	float: left;
	margin-right: 20px;
}
.reveal section .pic-quote blockquote {
	text-align: left;
	border: 0;
	width: 100%;
	margin: 0;
	padding: 10px;

	font-style: normal;
	background: inherit;
	box-shadow: none;
}
.reveal section .pic-quote .source {
	text-align: right;
	font-size: 80%;
}
.reveal section .pic-quote .source cite {
	font-style: italic;
}
