.reveal h1 {
	padding-bottom: 10px;
}
.reveal table {
	width: 100%;
	border-collapse: collapse;
}
.reveal table th {
	border-bottom: 1px solid;
	line-height: 1.5;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.two-column > div,
.two-column > figure,
.two-column > ul,
.two-column > ol,
.two-column > img,
.two-column > p {
	width: 40%;
	display: inline-block;
}
.three-column > div,
.three-column > figure,
.three-column > ul,
.three-column > ol,
.three-column > img,
.three-column > p {
	width: 30%;
	display: inline-block;
}
ul.no-bullets {
	list-style: none;
}
ul.no-bullets ul {
	list-style: none;
}
.term {
	color: #DB8002;
}
ul.file-tree,
ul.file-tree ul {
	list-style: none;
}
ul.file-tree li {
	padding-left: 40px;
	background-position: left center;
	background-repeat: no-repeat;
}
ul.file-tree li.file {
	background-image: url(../../img/file.png);
}
ul.file-tree li.folder {
	background-image: url(../../img/folder.png);
}
ul.file-tree li.folder-open {
	background-image: url(../../img/folder-open.png);
	background-position: 0 0.3em;
}
