<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="css/fluid.css">
        <title>Positioning Example</title>
    </head>
    <body>
        <header>
            <h1>My Fluid Page</h1>
            <p class="motto">An example of a typical fluid page layout</p>
        </header>

        <nav class="site-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>

        <div class="content">
            <nav class="page-nav">
                <ul>
                    <li><a href="#">One Thing</a></li>
                    <li><a href="#">Another Thing</a></li>
                    <li><a href="#">Yet Another Thing</a></li>
                </ul>
            </nav>

            <article>
                <h1>Page Title</h1>

                <p><img class="pull-right" src="img/bunny.jpg" alt="cute bunny!">The page-level navigation bar on the left has a fixed width, but the article surrounding this content expands to fill the rest of the viewport. It uses a left margin that is a littel bigger than the width of the left nav so that it doesn't wrap around the shorter nav.</p>

                <p>The bunny image adjusts its size as the viewport gets more narrow, but it also has max-width and min-width values to keep it from getting ridiculously big or small.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, libero, facere, perferendis, animi quia unde molestias quos adipisci nihil est amet voluptatem officia sint rem nisi! Recusandae, non officia cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptates voluptate corrupti odit cum voluptatem molestias quam quisquam porro! Odit perspiciatis nihil sapiente inventore enim ullam quis voluptatem eius eligendi!</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, libero, facere, perferendis, animi quia unde molestias quos adipisci nihil est amet voluptatem officia sint rem nisi! Recusandae, non officia cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptates voluptate corrupti odit cum voluptatem molestias quam quisquam porro! Odit perspiciatis nihil sapiente inventore enim ullam quis voluptatem eius eligendi!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, libero, facere, perferendis, animi quia unde molestias quos adipisci nihil est amet voluptatem officia sint rem nisi! Recusandae, non officia cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptates voluptate corrupti odit cum voluptatem molestias quam quisquam porro! Odit perspiciatis nihil sapiente inventore enim ullam quis voluptatem eius eligendi!</p>

                <aside><q>"This is a pull quote!"</q></aside>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, libero, facere, perferendis, animi quia unde molestias quos adipisci nihil est amet voluptatem officia sint rem nisi! Recusandae, non officia cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptates voluptate corrupti odit cum voluptatem molestias quam quisquam porro! Odit perspiciatis nihil sapiente inventore enim ullam quis voluptatem eius eligendi!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, libero, facere, perferendis, animi quia unde molestias quos adipisci nihil est amet voluptatem officia sint rem nisi! Recusandae, non officia cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptates voluptate corrupti odit cum voluptatem molestias quam quisquam porro! Odit perspiciatis nihil sapiente inventore enim ullam quis voluptatem eius eligendi!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, libero, facere, perferendis, animi quia unde molestias quos adipisci nihil est amet voluptatem officia sint rem nisi! Recusandae, non officia cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptates voluptate corrupti odit cum voluptatem molestias quam quisquam porro! Odit perspiciatis nihil sapiente inventore enim ullam quis voluptatem eius eligendi!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, libero, facere, perferendis, animi quia unde molestias quos adipisci nihil est amet voluptatem officia sint rem nisi! Recusandae, non officia cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptates voluptate corrupti odit cum voluptatem molestias quam quisquam porro! Odit perspiciatis nihil sapiente inventore enim ullam quis voluptatem eius eligendi!</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, libero, facere, perferendis, animi quia unde molestias quos adipisci nihil est amet voluptatem officia sint rem nisi! Recusandae, non officia cumque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptates voluptate corrupti odit cum voluptatem molestias quam quisquam porro! Odit perspiciatis nihil sapiente inventore enim ullam quis voluptatem eius eligendi!</p>

            </article>

        </div>
    </body>
</html>