<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="css/positioning.css">
        <title>Positioning Example</title>
    </head>
    <body>
        <!-- nav bar we will fix to the top of the screen -->
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">About</a></li>
                <li>(This is a fixed nav bar)</li>
            </ul>
        </nav>

        <article>

            <h1>Badge Overlay</h1>

            <div class="new-item">
                <img src="img/bunny.jpg" alt="cute bunny!">                
            </div>

            <h1>Text Overlay</h1>

            <figure class="overlay-caption">
                <img src="img/bunny.jpg" alt="cute bunny!">
                <figcaption>Cute Bunny</figcaption>
            </figure>


            <h1>Article Title</h1>

            <p>The rest of this content is purely to fill out the page so we can see how the fixed nav bar and footer behave when scrolling.</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>
            
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>
            
            <h2>Section Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <h2>Section Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <h2>Section Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <h2>Section Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <h2>Section Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <h2>Section Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <h2>Section Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <h2>Section Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <h2>Section Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <h2>Section Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, eum, dolorum fugiat praesentium quo corrupti nobis excepturi dicta recusandae similique quod aut inventore cupiditate veniam aperiam at voluptas enim consequatur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, et, unde amet aliquam dolorum possimus exercitationem non quia sint perspiciatis ad corporis earum. Molestias temporibus labore nemo iure! Iste, consequatur!</p>
        </article>

        <!-- footer we will fix to the bottom of the screen -->
        <footer>
            <p>This is a fixed footer</p>            
        </footer>

    </body>
</html>