<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/responsive.css">
        <title>Guitar Emporium</title>
    </head>
    <body>
        <div class="content-box">
            <header>
                <img src="img/guitar.jpg" alt="guitar close-up">
                <h1>Guitar Emporium</h1>
            </header>

            <article>
                <div class="row">
                    <div class="col col-left">
                        <p class="address">123 Guitar Way, Seattle</p>
                        <p class="phone">206-555-1212</p>
                        <p class="email"><a title="info@guitaremporium.com" href="mailto:info@guitaremporium.com">email us</a></p>
                    </div>
                    <div class="col col-mid">
                        <p class="welcome">If you're looking to buy a guitar, look no further! The Guitar Emporium has everything you need. Stop by today for a free consultation!</p>
                    </div>
                    <div class="col col-right">
                        <p>We carry the top brands:</p>
                        <ul class="brands">
                            <li>Martin</li>
                            <li>Taylor</li>
                            <li>Gibson</li>
                            <li>Fender</li>
                            <li>Ibanez</li>
                        </ul>
                        <p>...and many more!</p>
                    </div>
                </div>
            </article>

        </div>
    </body>
</html>